h1 {
  font-size: 24px;
  font-weight: medium;
  line-height: 120%;
}

h2 {
  font-size: 20px;
  font-weight: medium;
  line-height: 110%;
}

.home {
  background-color: #EEEEEE;
  text-align: center;
  position: relative;

  .top {
    background: linear-gradient(146.62deg, #00A3AE 21.58%, rgba(0, 163, 174, 0) 152.21%);
    height: 360px;
    color: white;
  }

  .bottom {
    background-color: #EEEEEE;
    height: 100vh;
  }
  .card {
    width: 141px;
    height: 91px;
    margin-bottom: 15px;
  }

  .landing-cards {
    position: absolute;
    margin: 0 auto;
    width: 141px;
    left: 0;
    top: 286px;
    right: 0;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.communication-guide {
  .cards {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    .card {
      white-space: normal;
      margin: 20px;
      width: 285px !important;
    }
  }
}

.circle {
  border: 1px solid black;
  height: 13px;
  width: 13px;
  position: absolute;
  left: -36px;
  border-radius: 100%;
  background-color: white;
}
